<h1>Products</h1>
<%=form_for @order do |f| %>
<ul class='large-block-grid-3 products'>
  <%= f.fields_for :order_items do |oif| %>
    <% product = oif.object.product %>
    <li class='products products-item'>
      <div class='products product-detail'>
        <h3><%= link_to product.title, product %></h3>
        <p>(<%= product.category %>)</p>

        <blockquote>
          <%= product.description %>
        </blockquote>

        <ul class="button-group radius">
          <li><%= link_to 'Edit', edit_product_path(product), class: "button tiny secondary" %></li>
          <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></li>
        </ul>

        <hr/>

        <label>How many?</label>
        <%=oif.text_field :quantity %>
        <%=oif.hidden_field :product_id, value: product.id %>
      </div>

    </li>
  <% end %>
</ul>

<p>
<%=f.button "Place new order" %>
</p>

<%end%>
