<p class='right'>
</p>

<h1>Products</h1>

<ul class='large-block-grid-3 products'>
  <% @products.each do |product| %>
    <li class='products products-item'>
      <div class='products product-detail'>
        <h3><%= link_to product.title, product %></h3>
        <p>(<%= product.category %>)</p>

        <blockquote>
          <%= product.description %>
        </blockquote>

        <ul class="button-group radius">
          <li><%= link_to 'Edit', edit_product_path(product), class: "button tiny secondary" %></li>
          <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %></li>
        </ul>

        <hr/>

        <div class='products product-quantity'>
          <div class="small-5 columns">
            <label for="right-label" class="right">
              How much?
            </label>
          </div>

          <div class="small-7 columns">
            <input type='text' size='2' placeholder='0' />
          </div>
        </div>

      </div>

    </li>
  <% end %>
</ul>

<button>Place new order</button>
